html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}
button,
input {
	line-height: normal;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
button,
input,
select,
textarea {
	color: #222;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
@font-face {
	font-family: "MullerLight";
	src: url("/fonts/MullerLight.eot");
	src: url("/fonts/MullerLight.eot") format("embedded-opentype"), url("/fonts/MullerLight.woff") format("woff"),
		url("/fonts/MullerLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Muller";
	src: url("/fonts/MullerBold.eot");
	src: local("Muller Bold"), local("MullerBold"), url("/fonts/MullerBold.eot?#iefix") format("embedded-opentype"),
		url("/fonts/MullerBold.woff2") format("woff2"), url("/fonts/MullerBold.woff") format("woff"),
		url("/fonts/MullerBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "MullerLight";
	src: url("/fonts/MullerLight.eot");
	src: url("/fonts/MullerLight.eot") format("embedded-opentype"), url("/fonts/MullerLight.woff") format("woff"),
		url("/fonts/MullerLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "MullerRegular";
	src: url("../fonts/MullerRegular.eot");
	src: url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/MullerRegular.woff") format("woff"), url("../fonts//MullerRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
body {
	background-image: url(/img/bg.png);
	background-color: rgb(21, 19, 19);
	font-size: 18px;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.wrapper {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 47px;
	position: relative;
	display: flex;
	margin-top: 37px;
	margin-bottom: 89px;
}
.header-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}
.header-link {
	position: relative;
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 24px;
	letter-spacing: 0.02em;
	width: 10%;
	color: #ffffff;
	top: 24%;
}
.header-link:nth-child(1) {
	margin-right: 1.6%;
	margin-left: 5.5%;
}
.header-link:nth-child(2) {
	max-width: 9%;
	margin-left: 3.4%;
	margin-right: 2.3%;
}
.header-link:nth-child(3) {
	max-width: 11%;
	top: 1%;
	margin-right: 17%;
}
.header-logo {
	top: 12px;
	position: relative;
}
.header-link-number {
	width: 20%;
	font-family: "Muller";
	font-style: normal;
	font-weight: bold;
	font-size: 1.222em;
	line-height: 22px;
	color: #ffffff;
	top: 25%;
	left: 2.8%;
	position: relative;
}
.header-link-button {
	max-width: 7vh;
	margin-left: 7%;
	bottom: 2px;
	position: relative;
}
.link-a {
	text-decoration: none;
	color: #ffffff;
}
.content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.center-logo {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 26px;
}
.Vector-center {
	width: 7%;
	left: 46.3%;
	position: relative;
}
.center-text-block {
	width: 71%;
	margin: 0 auto;
	margin-left: 13.6%;
	margin-bottom: 120px;
}
.center-h1 {
	font-family: "Muller";
	font-style: normal;
	font-weight: bold;
	font-size: 3.889em;
	line-height: 120%;
	text-align: center;
	color: #ffd54e;
	margin-bottom: 16px;
}
.center-p {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 1.333em;
	line-height: 32px;

	text-align: center;

	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 40px;
	margin-left: 2%;
}
.number-form {
	width: 77.3%;
	margin: 0 auto;
	margin-left: 14%;
}
.form-number-info {
	width: 63%;
	height: 54px;
	background: #323232;
	border-radius: 100px;
	margin-right: 2%;
	border: none;
	padding-left: 3.4%;
	box-sizing: border-box;
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 24px;
	color: white;
}
.button-form {
	background: #ffd54e;
	border-radius: 100px;
	flex-direction: row;
	align-items: center;
	width: 34%;
	height: 54px;
	border: none;
	font-family: "Muller";
	font-style: normal;
	font-weight: bold;
	font-size: 1.111em;
	line-height: 24px;
	text-align: center;
	text-transform: capitalize;
}
input::placeholder {
	color: rgba(255, 255, 255, 0.7);
	opacity: 0.9;
}
.center-group-block {
	width: 100%;
	display: flex;
	margin-bottom: 60px;
}
.group-item {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.item-block {
	width: 24%;
	height: 256px;
	background: #323232;
	border-radius: 12px;
	margin-right: 1.4%;
}
.item-block:last-child {
	margin-right: 0px;
}
.img-info {
	margin-top: 32px;
	margin-left: 41px;
	margin-bottom: 30px;
}
.img-info-cylinder {
	margin-top: 32px;
	margin-left: 41px;
	margin-bottom: 30px;
}
.text-block-info {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.7);
	max-width: 192px;
	margin-left: 40px;
	margin-right: 59px;
	margin-bottom: 54px;
}
.text-block-info-three {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.7);
	max-width: 192px;
	margin-left: 40px;
	margin-right: 59px;
	margin-bottom: 54px;
}
.button-down {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 36%;
	height: 80px;
	background: #ffd54e;
	border-radius: 100px;
}
.img-vectror-down {
	margin-left: 24px;
	margin-right: 10px;
}
.text-button-down {
	margin-top: 9px;
	font-family: "Muller";
	font-style: normal;
	font-weight: bold;
	font-size: 1.333em;
	line-height: 24px;
	text-align: center;
	color: #323232;
}
.button-down {
	margin: 0 auto;
	text-decoration: none;
	margin-bottom: 60px;
}
.footer_wrapper {
	width: 100%;
	background-color: #323232;
}
.footer_content {
	max-width: 1220px;
	position: relative;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}
.footer_mathLabs {
	width: 36%;
	margin-top: 69px;
	margin-bottom: 96px;
	margin-right: 40%;
}
.mathLabs_footer {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #ffffff;
	margin-bottom: 21px;
}
.mathLabs_p {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: rgba(255, 255, 255, 0.7);
}
.footer_social {
	width: 22%;
	margin-top: 52px;
	margin-bottom: 70px;
	margin-left: 1%;
}
.footer_social_center_h2 {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 120%;
	margin-bottom: 24px;

	color: #ffd54e;
}
.footer_social_h2 {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 32px;
	color: #ffffff;
}
.footer_social_h2-mobile {
	display: none;
}
.social-icons {
	margin-right: 3.5%;
}
.social-icons-messenger {
	margin-right: 3.5%;
}
.social-icons-instagram {
	margin-right: 0px;
}

.agreements {
	width: 100%;
	display: flex;
	margin-bottom: 61px;
}
.agreements_item {
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;

	color: #ffffff;
}
.agreements_item:first-child {
	text-decoration: none;
	margin-right: 376px;
}
.agreements_item:nth-child(2) {
	margin-right: 40px;
}
/* HYMBURGEEEEEEEEEER*/
.hamburger-menu {
	display: none;
}
#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 510px;
}
.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 42px;
	left: 709px;
	width: 33px;
	height: 25px;

	cursor: pointer;
	z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 33px;
	height: 3px;
	background: white;
	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -10px;
}
.menu__btn > span::after {
	content: "";
	top: 10px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 58px;
	left: 510px;
	width: 195px;
	height: 14%;
	margin: 0;
	padding: 29px 0px;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
	transition-duration: 0.25s;
	z-index: 11;
}
.menu__item {
	display: block;
	padding: 11px 21px;
	color: #333;
	font-family: "MullerMedium", sans-serif;
	font-size: 15px;
	text-decoration: none;
	transition-duration: 0.25s;
}
.menu__item:last-child {
	padding-bottom: 10px;
}
.menu__item:hover {
	background-color: #cfd8dc;
}
.footer_social-center {
	display: none;
}
@media (max-width: 768px) {
	.wrapper {
		max-width: 736px;
		width: 100%;
		margin: 0 auto;
	}
	.header-link,
	.header-link-number {
		display: none;
	}
	.header-link-button {
		margin-left: 368px;
	}
	.hamburger-menu {
		display: block;
	}
	.Vector-center {
		width: 11%;
	}
	.center-h1 {
		font-size: 3.333em;
	}
	.center-text-block {
		width: 100%;
		margin-left: 0%;
		margin-bottom: 0px;
	}
	.center-h1 {
		margin-bottom: 24px;
	}
	.center-p {
		font-size: 1em;
		margin-left: 0%;
	}
	.button-form {
		width: 30%;
	}
	.number-form {
		width: 100%;
		margin-left: 0%;
		margin-bottom: 60px;
	}
	.form-number-info {
		width: 66%;
		margin-right: 3%;
	}
	.footer_social-center {
		display: block;
		margin: 0 auto;
		width: 54%;
		text-align: center;
		margin-bottom: 53px;
	}
	.footer_social_h2_mobile {
		display: none;
	}
	.footer_social-center .footer_social_h2 {
		font-family: "MullerLight";
		font-size: 22px;
		line-height: 120%;
		color: #ffd54e;
		margin-left: -30px;
		margin-bottom: 24px;
	}
	.footer_social-center .social-icons {
		margin-right: 18px;
		bottom: 8px;
		position: relative;
	}
	.item-block {
		margin-right: 2%;
		width: 23.6%;
		height: 188px;
	}
	.text-block-info {
		font-size: 14px;
		line-height: 130%;
		color: rgba(255, 255, 255, 0.7);
		max-width: 130px;
		margin-left: 24px;
		margin-right: 15px;
		margin-bottom: 28px;
	}
	.img-info-cylinder {
		width: 13px;
		height: 19px;
		margin-top: 19px;
		margin-left: 25px;
		margin-bottom: 18px;
	}
	.img-info {
		margin-top: 19px;
		margin-left: 25px;
		margin-bottom: 18px;
		width: 18px;
		height: 19px;
	}
	.text-block-info-three {
		font-size: 14px;
		line-height: 130%;
		color: rgba(255, 255, 255, 0.7);
		max-width: 122px;
		margin-left: 24px;
		margin-right: 15px;
		margin-bottom: 28px;
	}
	.button-down {
		width: 59%;
		height: 80px;
	}
	.footer_content {
		max-width: 736px;
		position: relative;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
	}
	.mathLabs_footer {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	.footer_social_h2 {
		font-family: "MullerLight";
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 24px;
		color: #ffffff;
	}
	.mathLabs_p {
		font-size: 14px;
		line-height: 14px;
		color: rgba(255, 255, 255, 0.7);
	}
	.footer_mathLabs {
		width: 40%;
		margin-top: 70px;
		margin-bottom: 85px;
		margin-right: 19%;
	}
	.footer_social {
		width: 40%;
		margin-top: 50px;
		margin-left: 1%;
		flex-wrap: wrap;
		display: flex;
		margin-bottom: 0px;
	}
	.agreements {
		width: 40%;
		display: flex;
		margin-bottom: 37px;
		flex-wrap: wrap;
	}
	.agreements_item:nth-child(3) {
		order: -1;
		font-size: 20px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #ffffff;
		margin-bottom: 38px;
		white-space: nowrap;
	}
	.agreements_item:nth-child(2) {
		order: 2;
		font-size: 20px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #ffffff;
		margin-bottom: 44px;
		white-space: nowrap;
	}
	.agreements_item:nth-child(1) {
		text-decoration: none;
		order: 4;
		white-space: nowrap;
		font-size: 14px;
		line-height: 14px;
		color: #ffffff;
	}
	.social-icons:nth-child(4) {
		order: 3;
		margin-right: 0px;
	}
	.social-icons:nth-child(5) {
		order: 2;
		margin-right: 16px;
	}
	.social-icons {
		margin-right: 16px;
		width: 50px;
		height: 50px;
		top: -6%;
		position: relative;
	}
	.social-icons-instagram {
		width: 50px;
		height: 50px;
		top: -6%;
		position: relative;
		bottom: 8px;
	}
}
@media (max-width: 321px) {
	.wrapper {
		max-width: 289px;
		width: 100%;
		margin: 0 auto;
	}
	.header-link,
	.header-link-number {
		display: none;
	}
	.header-logo-main {
		width: 79px;
		height: 13px;
	}
	.header-link-button {
		margin-left: 12px;
	}
	.hamburger-menu {
		display: block;
	}
	.menu__btn {
		left: 81%;
		top: 4.9%;
	}
	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		/* left: 510px; */
	}
	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 110px;
	}
	.menu__box {
		left: 110px;
	}
	.Vector-center {
		width: 13%;
		height: 34px;
		position: relative;
		left: 44%;
	}
	.header-link-button_img {
		width: 130px;
		height: 40px;
	}
	.header-link-button {
		bottom: 0px;
	}
	.header {
		margin-top: 18px;
		margin-bottom: 49px;
	}
	.center-logo {
		margin: 0 auto;
		width: 100%;
	}
	.center-h1 {
		font-family: "Muller";
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 120%;
		text-align: center;
		color: #ffd54e;
		position: relative;
		top: 1%;
	}
	.center-p {
		font-size: 14px;
		line-height: 140%;
		max-width: 271px;
		margin-bottom: 32px;
	}
	.form-number-info {
		width: 100%;
		margin-bottom: 26px;
		height: 48px;
		font-size: 16px;
		line-height: 16px;
		padding-left: 24px;
	}
	.button-form {
		width: 100%;
		height: 60px;
		font-size: 24px;
		line-height: 24px;
	}
	.footer_social_h2_mobile {
		display: block;
		width: 86%;
		font-family: "MullerLight";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;
		color: #ffd54e;
		margin-bottom: 24px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer_social-center {
		width: 93%;
	}
	.social-icons {
		margin-right: 16px;
		position: relative;
		left: 0px;
	}
	.footer_social-center .social-icons {
		margin-right: 16px;
		/* bottom: 8px; */
		position: relative;
		left: 0.9%;
		bottom: 6%;
	}
	.social-icons-instagram {
		position: relative;
		bottom: 6%;
	}
	.group-item {
		flex-direction: column;
	}
	.item-block {
		width: 100%;
		height: 256px;
		margin-bottom: 20px;
		border-radius: 12px;
	}
	.img-info {
		margin-top: 32px;
		margin-left: 41px;
		margin-bottom: 30px;
		width: 29px;
		height: 32px;
	}
	.img-info-cylinder {
		width: 21px;
		height: 32px;
		margin-top: 32px;
		margin-left: 43px;
		margin-bottom: 30px;
	}
	.text-block-info {
		max-width: 195px;
		height: 112px;
		margin-left: 40px;
		margin-right: 16px;
		margin-bottom: 50px;
		font-size: 18px;
		line-height: 28px;
		color: rgba(255, 255, 255, 0.7);
	}
	.text-block-info-three {
		height: 112px;
		margin-left: 40px;
		margin-right: 16px;
		margin-bottom: 50px;
		font-size: 18px;
		line-height: 28px;
		color: rgba(255, 255, 255, 0.7);
		max-width: 192px;
	}
	.button-down {
		width: 100%;
		height: 56px;
	}
	.img-vectror-down {
		display: none;
	}
	.text-button-down {
		font-size: 16px;
		line-height: 24px;
		margin: 0 auto;
	}
	.footer_content {
		max-width: 289px;
	}
	.footer_mathLabs {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 60px;
		margin-right: 0%;
	}
	.mathLabs_footer {
		font-size: 18px;
		line-height: 18px;

		letter-spacing: 0.02em;
	}
	.mathLabs_p {
		font-size: 14px;
		line-height: 14px;
		color: rgba(255, 255, 255, 0.7);
	}
	.footer_social_center_h2 {
		display: none;
	}
	.footer_social {
		width: 100%;
		margin-top: 0px;
		margin-left: 0%;
		flex-wrap: wrap;
		display: flex;
		margin-bottom: 60px;
	}
	.footer_social_h2 {
		font-size: 20px;
		line-height: 20px;
		color: #ffffff;
		margin-bottom: 24px;
	}
	.social-icons {
		margin-right: 24px;
		position: relative;
		left: 0px;
		top: 0%;
	}
	.agreements_item:nth-child(3) {
		order: -1;
		font-size: 18px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #ffffff;
		margin-bottom: 40px;
		white-space: nowrap;
	}
	.agreements_item:nth-child(2) {
		order: 2;
		font-size: 18px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #ffffff;
		margin-bottom: 40px;
		margin-bottom: 44px;
		white-space: nowrap;
	}
	.agreements_item:nth-child(1) {
		text-decoration: none;
		order: 4;
		white-space: nowrap;
		font-size: 14px;
		line-height: 14px;
		color: #ffffff;
	}
}
